.BeautyControl {
    display: flex;
    align-items: center;
  }
  .BeautyControl .label {
    color: #bf0420;
    font-family: ' Brush Script';
    font-size: 1.5rem;
    padding: .4rem 1rem;
  }
  .BeautyControl button {
    width: 30px;
  height: 30px;
    border: none;
    background-color: white;
    color: #bf0420;
    font-weight: bold;
    border-radius: 100%;
    cursor: pointer;
  }
  .BeautyControl button:disabled {
    opacity: .5;
  }
  .BeautyControl button:not(:disabled):hover {
    opacity: .8;
  }
  @media (min-width: 600px) {
    .BeautyControl .label {
      font-size: 2rem;
    }
  }
  
  